############################
#      System Setup      #
############################
HOST=''
# XXX_API_BASE_URL 必须http[s] 开头，/ 结尾
OPENAI_API_BASE_URL='https://api.xxxx.com/'
OPENAI_API_KEY=''
AILS_API_BASE_URL='https://api.caipacity.com/'
AILS_API_KEY=''
API2D_API_BASE_URL='https://openai.api2d.net/'
API2D_API_KEY=''
OPENAI_ORGANIZATION_ID=''
BAIDU_API_BASE_URL='https://aip.baidubce.com/'
BAIDU_API_KEY=''
BAIDU_SECRET_KEY=''
MINIMAX_API_BASE_URL='https://api.minimax.chat/'
MINIMAX_GROUP_ID=''
MINIMAX_SECRET_KEY=''
THEBAI_API_BASE_URL='https://api.theb.ai/'
THEBAI_API_KEY=''

############################
#      Database Setup      #
############################
DATABASE_ADAPTER='postgresql'
DATABASE_HOST=''
DATABASE_PORT=5432
DATABASE_ENCODING='unicode'
RAILS_MAX_THREADS=25
DEVELOPMENT_DATABASE_NAME='yuanfang_development'
TEST_DATABASE_NAME='yuanfang_test'
PRODUCTION_DATABASE_NAME='yuanfang_production'
DATABASE_USERNAME=''
DATABASE_PASSWORD=''

############################
#      Redis Setup      #
############################
REDIS_URL=''